*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 550px;
}

/* DEBUG */

 .debug main{
    background-color: black;
}





/* UTILITY */

.text-white{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 5px;
}

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.wrap{
    flex-wrap: wrap;
}

.flex-column{
    flex-direction: column;
}

.overflow{
    overflow-y: scroll;
}

.rounded{
    border-radius: 50%;
}

.title-section{
    padding: 20px 20px;
    background-color: rgb(20, 25, 34);

    
}

.cta{
    position: fixed;
    
    height: 70px;
    top: 0;
    width: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn{
    border: 1px solid white;
    background-color: transparent;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
}


.button {
    margin-right: 20px;
    font-size: 12px;
}

.button:hover{
    scale: 1.1;
}







footer{
    height: 100px;
    background-color: rgb( 40, 40, 40);
    
    padding: 0 5px;
    z-index: 999;
}

main{
    height: calc(100vh - 100px);
    overflow-y: hidden;
}

aside{
    width: 100px;
}

.content{
    width: calc(100% - 50px);
}

.cover-list{
    list-style: none;
    background-color: rgb(20, 25, 34);
}

.cover-item{
    width: calc(50% - 40px);
    margin: 20px;
}

.content-nav{
    margin-top: 80px;
    background-color: rgb(20, 25,	34);
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu li{
    list-style: none;
    padding: 10px 0;
}

.main-menu a{
    text-decoration: none;
    
    color: gray;
    padding-left: 15px;
}

.main-menu a:hover{
    
    color: white;
    
}

    /* Inizio sidebar*/


.sidebar{
    min-height: 600px;
    overflow: hidden;
}

.sidebar-top{
    height: calc(100% - 100px);
    background-color: black;
}

.sidebar-bottom{
    height: 100px;
    display: flex;
    align-items: flex-end;
}


.download img {
    height: 20px;
    padding: 5px 10px;
    margin: 0 20px;
}

.sidebar .sidebar-top{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.logo-phone img{
    margin: 5px 10px;
    height: 40px;
}

.logo-desk{
    display: none;
}


.sidebar-list{
    margin-top: 20px;
    padding: 0 10px;
}

.sidebar-list li{
    list-style: none;
    padding: 5px 0;
}

.sidebar-list img{
    height: 25px;
    vertical-align: middle;
}

.sidebar-list a{
    text-decoration: none;
    display: inline-block;
}


 .label{
    vertical-align: middle;
    display: none;
    color: gray;
}

.label:hover{
    
    color: white;
}

    /* Fine sidebar*/




.playlist{
    margin-top: 30px;
    padding: 0 10px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.title-playlist{
    color: gray;
    padding: 10px 0;
}

.playlist-list li{
    list-style: none;
    padding: 8px 0;
    color: gray;
    
    
}

.playlist-list li:hover{
    
    color: white;
    
    
}

.cover-container{
    text-align: center;
    color: gray;
}




.cover-container .cover-img{
    width: 100%;

}

.cover-container .cover-img:hover{
    opacity: 0.5;
    
}
.profile-img{
    background-color: gray; 
    border-radius: 10px; 
    margin-right: 20px;

}

#player{
    height: 100%;
    align-items: center;
    background-color: rgb(40, 40, 40);

    padding: 0 20px;
}

.footer-left{
    width: 250px;
    padding: 0 20px;

}

.footer-right{
    width: 250px;
}


.footer-center{
    width: 40%;
}

.footer-right i{
    color: white;
    font-size: 16px;
    margin: 0 10px;
}


.player-album-icons{
    width: 20%;
    color: white;
}

.player-album-icons i{
    padding-left: 5px;
}

.player-album-cover{
    width: 20%;
}

.player-album-cover img{
    width: 100%;
}

.player-album-title{
    width: 50%;
}

.player-control-button{
    height: 60%;
    padding: 10px 0;
}

.player-control-button i{
    font-size: 25px;
    margin: 0 10px;
    color: white;
}

#player .player-control-begin, #player .player-control-end{
    text-align: center;
    width: 10%;
}

.player-control-progress{
    width: 80%;
}


.player-audio-percent{
    width: 60%;
}
.slider{
    height: 10px;
    background-color: gray;
    ;
    border-radius: 5px;
}

.slider .percent{
    width: 20%;
    height: 100%;
    background-color: green;
    border-radius: 5px;
    position: relative;

}

.slider .percent .current{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -3px;
    background-color: yellow;
    display: none;

}

.slider:hover .percent .current{
    
    display: block;

}







/*Responsive*/

@media screen and (min-width: 576px) {
    .sidebar{
        width: 200px;
    }

    .content{
        width: calc(100% - 200px);
    }

     .label{
        vertical-align: middle;
        display: inline-block;
    }

    .cta{
        width: calc(100% - 200px);
    }

    .logo-phone{
        display: none;
    }

    .logo-desk{
        display: block;
        max-width: 150px;
        margin: 10px;
    }
    
  
}


@media screen and (min-width: 768px) {
    .cover-item{
        width: 25%;
    }

     .label{
        vertical-align: middle;
        display: inline-block;
    }

    .cta{
        width: calc(100% - 200px);
    }

    .logo-phone{
        display: none;
    }

    .logo-desk{
        display: block;
        max-width: 150px;
        margin: 10px;
    }
  
}

@media screen and (min-width: 992px) {

    .cover-list{
        flex-wrap: nowrap;
    }
    .cover-item{
        width: calc(100% / 6);
    }

     .label{
        vertical-align: middle;
        display: inline-block;
    }

    .logo-phone{
        display: none;
    }

    .logo-desk{
        display: block;
        max-width: 150px;
        margin: 10px;
    }
  
}




